.bag-card__container{
    width:100%;
    display: flex;
    flex-direction: column;
}

.bag-card__product-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bag-card__product{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.product__text--primary{
    font-family: 'garamond-atf-micro', 'serif';
    font-size: 1.2em;
}

.product__text--secondary{
    font-family: 'futura-pt', 'sans-serif';
    font-size: 1.2em;
    margin: 0 ;
    padding: 4px;
}

.bag-card-quantity__wrapper{
    display: flex;
    justify-content: center;
}
.bag-card__quantity{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25%;
}

.bag-card__remove-container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 5%;
}

.bag-card__seperation-line{
    height: 1px;
    width: 100%;
    background-color: #3A443f;
}